* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #e8e8e8;
    --sidebar-color: #f9f9f9;
    --primary-color: #456BA5;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #262626;
    --text-color-secondary: #434343;
    --danger: #E1454C;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;

    --sidebar-width: 250px;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
    overflow-x: hidden;
    /* Elimina la barra de desplazamiento horizontal */
    margin: 0;
    /* Elimina márgenes adicionales que puedan estar generando espacio */
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;

}

.sidebar.close {
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
    color: var(--text-color-secondary);
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

.home {
    position: absolute;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close~.home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text {
    color: var(--text-color);
}

/* NAVBAR */
.navPiola {
    height: max-content;
    width: 100%;
    padding: 10px 10px 0 10px;
    background-color: var(--sidebar-color);
    border: 1px var(--primary-color) solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 5px;
}

h3 {
    font-size: clamp(16px, 2dvw, 21px);
}

h4 {
    font-size: clamp(12px, 2dvw, 16px);
    color: var(--text-color-secondary);
}

.navLinks {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}

.navEnlace {
    position: relative;
    height: max-content;
    padding-bottom: 10px;
}

.navEnlace a {
    text-decoration: none;
    color: var(--text-color-secondary);
    font-size: clamp(12px, 2dvw, 17px);
    display: flex;
}

.navEnlace a:hover,
.navEnlace a:focus {
    color: var(--text-color);
}

.navEnlace a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    visibility: hidden;
    transition: all ease 0.25s;
}

.navLinks a:hover::before {
    width: 100%;
    visibility: visible;
}

/* Contenido principal */
main {
    min-height: 100dvh;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
    min-height: 98dvh;
    height: max-content;
    transition: margin-left 0.3s ease;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sidebar.close+.content {
    margin-left: 88px;
    /* Desplazamos el contenido cuando el sidebar está cerrado */
    width: calc(100% - 88px);
    /* Ajustamos el ancho del contenido */
}

.content.dark {
    color: var(--text-color);
}

/* TABLA */
table {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    background-color: var(--sidebar-color);
    border-radius: 5px;
    overflow: hidden;
}

table thead {
    background-color: var(--primary-color);
    color: var(--body-color);
}

table tr {
    padding: 5px;
    height: auto;
    border: 1px var(--primary-color) solid;
}

table td,
table th {
    padding: 10px;
    text-align: center;
}

table td {
    color: var(--text-color-secondary);
}

table th {
    font-size: clamp(12px, 1vw, 18px);
    letter-spacing: 1px;
}

/* BOTONES */
.boton-primario,
.boton-secundario,
.boton-terciario,
.boton-cuartiario {
    text-decoration: none;
    font-size: (12px, 2vw, 16px);
    padding: 6px 10px;
    border-radius: 5px;
    transition: all ease .25s;
}

.boton-primario i,
.boton-secundario i {
    font-size: (16px, 2vw, 20px);
}

.boton-primario {
    background-color: var(--sidebar-color);
    color: var(--primary-color);
    border: 1px var(--primary-color) solid;
}

.boton-secundario {
    background-color: var(--primary-color);
    color: var(--sidebar-color);
}

.boton-terciario {
    background-color: var(--danger);
    color: var(--sidebar-color);
}

.boton-cuartiario {
    background-color: var(--primary-color);
    color: var(--sidebar-color);
}

.boton-primario:hover,
.boton-secundario:hover,
.boton-terciario:hover,
.boton-cuartiario:hover {
    transform: scale(1.05);
    transition: all ease .25s;
}

.boton-primario:active,
.boton-secundario:active,
.boton-terciario:active,
.boton-cuartiario:active {
    transform: scale(0.97);
}

#atras:hover,
#uno:hover,
#dos:hover,
#adelante:hover {
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    transition: all ease 0.25s;
}

#atras:active,
#atras:focus {
    background-color: var(--primary-color);
}

#uno:active,
#uno:focus {
    background-color: var(--primary-color);
}

#dos:active,
#dos:focus {
    background-color: var(--primary-color);
}

#adelante:active,
#adelante:focus {
    background-color: var(--primary-color);
}

#volver1:hover,
#volver2:hover {
    transform: scale(1.05);
    transition: all ease .25s;
}

#volver1:active,
#volver2:active {
    transform: scale(0.97);
}

.detalles {
    text-decoration: none;
}

.detalles i {
    color: #456BA5;
    font-size: clamp(18px, 2vw, 22px);
}

/* FICHA BENEFICIARIO */
.fila1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px 0 20px 0;
    margin-bottom: 0;
    row-gap: 5px;
}

hr {
    width: 100%;
    background-color: var(--text-color);
    height: 1px;
}

.fila2 {
    width: 100%;
    display: flex;
    justify-content: end;
    column-gap: 20px;
    padding: 20px 0 20px 0;
}

#todos {
    column-gap: 4px;
    padding: 5px 0 5px 0;
}

.fila2 form {
    display: flex;
    flex-direction: row;
}

.fila2 form input {
    outline: none;
    border: 1px var(--primary-color) solid;
    padding: 6px 10px;
    background-color: var(--sidebar-color);
    border-radius: 5px 0 0 5px;
    font-size: clamp(12px, 2vw, 16px);
    color: var(--primary-color);
}

.fila2 form input:focus {
    border: 2px var(--primary-color) solid;
}

.fila2 form button {
    outline: none;
    border: none;
    padding: 6px 10px;
    background-color: var(--primary-color);
    border-radius: 0 5px 5px 0;
    font-size: clamp(16px, 2vw, 20px);
    color: var(--sidebar-color);
    cursor: pointer;
}

.fila4 {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding: 20px 0 20px 0;
}

/* CARD */
.card {
    min-height: 100dvh;
    height: max-content;
    width: 100%;
    border: 1px var(--primary-color) solid;
    border-radius: 8px;
    padding: 20px 20px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.cuadrado {
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 10px;
    height: 100%;
    width: 100%;
    padding: 20px 20px;
    border: 1px var(--primary-color) solid;
    border-radius: 8px;
}

.letraNegrita {
    font-weight: 600;
    color: var(--text-color);
}

.cuadrado p {
    color: var(--text-color-secondary);
}

.listaElemento {
    margin-left: 20px;
}

/* CARD SIMPLE */
.cardSimple {
    height: max-content;
    width: 100%;
    padding: 20px 20px;
    background-color: var(--sidebar-color);
    border: 1px var(--primary-color) solid;
    border-radius: 8px;
}

#btnGroup {
    padding: 0;
}

/* Ajustes de posición para formulario de beneficiario */
/* Ordenamos los numeros de telefono y ruts*/
.separacionFormulario .layoutTelefono {
    width: 20%;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

.separacionFormulario .layoutTiempo {
    width: 100%;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

/* Ordenamos los nombres */
.separacionFormulario .layoutNombre {
    width: 40%;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

/* Ordenamos domicilio */
.separacionFormulario .layoutDomicilio {
    display: flex;
    flex-direction: column;
}

.separacionFormulario .layoutDomicilio div {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

/* Ordenamos colegio */
.separacionFormulario .layout {
    width: 35%;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

/* FORMULARIOS */
.formularioPiola {
    width: 100%;
    height: max-content;
    padding: 20px 20px;
    background-color: var(--sidebar-color);
    border: 1px var(--primary-color) solid;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.formularioPiola h1 {
    font-size: clamp(24px, 1vw, 40px);
}

.separacionFormulario {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.separacionFormulario label,
.separacionFormulario legend {
    color: var(--text-color-secondary);
}

input {
    border: 1px var(--primary-color) solid;
    padding: 6px 10px;
    border-radius: 5px;
    color: var(--text-color-secondary);
}

select {
    border: 1px var(--primary-color) solid;
    padding: 6px 10px;
    border-radius: 5px;
    color: var(--text-color-secondary);
}

select option {
    background-color: var(--sidebar-color);
    color: var(--text-color-secondary);
}

select option:checked {
    background-color: var(--sidebar-color);
    color: var(--text-color-secondary);
}

textarea {
    border: 1px var(--primary-color) solid;
    padding: 6px 10px;
    border-radius: 5px;
    color: var(--text-color-secondary);
}

.textarea {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

input[type="radio"],
input[type="checkbox"] {
    accent-color: var(--primary-color);
    padding: 6px 6px;
}

fieldset {
    border: 1px var(--primary-color) solid;
    padding: 6px 10px;
    border-radius: 5px;
}

/* modificamos los botones */
#grupoBotones {
    padding: -40px -40px;
}

/* Responsividad */
@media screen and (max-width: 1200px) {
    table {
        border: 0;
    }

    table tr {
        margin-bottom: 0;
        display: block;
        border-bottom: 2px solid #ddd;
    }

    table td {
        display: block;
        text-align: right;
        font-size: clamp(12px, 1vw, 18px);
        border-bottom: 1px dotted #ccc;
        position: relative;
        padding-left: 50%;
    }

    table td:last-child {
        border-bottom: 0;
    }

    table td:before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: 45%;
        padding: 10px 10px;
        text-align: left;
        font-weight: 600;
    }

    table thead {
        display: none;
    }

    .separacionFormulario .layoutNombre {
        grid-template-rows: 2fr;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Responsividad */
@media screen and (max-width: 1200px) {
    table {
        border: 0;
    }

    table tr {
        margin-bottom: 0;
        display: block;
        border-bottom: 2px solid #ddd;
    }

    table td {
        display: block;
        text-align: right;
        font-size: clamp(12px, 1vw, 18px);
        border-bottom: 1px dotted #ccc;
        position: relative;
        padding-left: 50%;
    }

    table td:last-child {
        border-bottom: 0;
    }

    table td:before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: 45%;
        padding: 10px 10px;
        text-align: left;
        font-weight: 600;
    }

    table thead {
        display: none;
    }

    .separacionFormulario .layoutNombre {
        grid-template-rows: 2fr;
        grid-template-columns: repeat(2, 1fr);
    }

    .separacionFormulario .layoutNombre input {
        grid-template-rows: 2fr;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Responsividad */
@media screen and (max-width: 710px) {
    .separacionFormulario .layoutTelefono {
        grid-template-rows: 2fr;
        grid-template-columns: repeat(1, 1fr);
    }

    .separacionFormulario .layoutNombre {
        grid-template-rows: 4fr;
        grid-template-columns: repeat(1, 1fr);
    }
}